{
    "Pmin": 100,
    "constA": 1,
    "coeff": 0.9,
    "count": 100,
    "cost": 300,
    "ban_messages": "off",
    "owner_name": "",
    "uuid": "󠄰󠅈󠆽󠄫󠆤",
    "mode": "normal",
    "Judgment Day Code": "",
    "base_prompt": "",
    "banned": [],
    "admins": [
    ],
    "alpha_users": [
    ],
    "signed_users": {},
    "root_users": []
}