{
    "plans": {
        "Free": {
            "posts_per_day": 1,
            "views_per_day": 0
        },
        "Plus": {
            "posts_per_day": 5,
            "views_per_day": 0
        },
        "Pro x5": {
            "posts_per_day": 25,
            "views_per_day": 1
        },
        "Pro x20": {
            "posts_per_day": 100,
            "views_per_day": 5
        },
        "Ultra": {
            "posts_per_day": 1000,
            "views_per_day": 100
        }
    },
    "stores": {
        "pig6storeplus": "Plus",
        "pig6store_pro_x5": "Pro x5",
        "pig6store_pro_x20": "Pro x20"
    },
    "subscriptions": {},
    "usage": {},
    "channels": {},
    "posts": {},
    "purchases": {}
}
